<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    google web fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <title> 🐧펭수 아슈크림🐧 | 부트스트랩 연습하기</title>

    <style>
        * {
            font-family: 'Poor Story', cursive;
        }

        .wrap {
            border: black solid;
            width: 600px;
            margin: 30px auto;
            padding: 30px;
            text-align: left;
        }

        .pengsoo_image {
            margin: 30px;
        }

        .float {
            float: left;
        }

        #exchange_rate {
            color: blue;
        }
        #table {
            border: solid black;
        }
        #order_count {
            color: blue;
            font-weight: bold;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#table_box").empty();
            upload();
            exchange_rate();
            order_count();
        });

        function exchange_rate() {
            $.ajax({
                type: "GET", // GET 방식으로 요청한다.
                url: "https://api.manana.kr/exchange/rate.json",
                data: {}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    let dollar_won = response[1]['rate'];
                    $('#exchange_rate').append(dollar_won);
                }
            })
        }

        function upload() {
//2. 서버->클라이언트 주문내역 불러오기
            $.ajax({
                //1.서버->클라이언트 주문내역(이름 수량 주소 전화번호)받아오기
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let order = response['orders']
                    for (let i = 0; i < order.length; i++) {
                        let name = order[i]['name']
                        let number = order[i]['number']
                        let address = order[i]['address']
                        let phone = order[i]['phone']
                        order_data = `<tr>
                                        <td>${name}</td>
                                        <td>${number}</td>
                                        <td>${address}</td>
                                        <td>${phone}</td>
                                    </tr>`
                        $('#table_box').append(order_data)

                    }
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                    }
                }
            })
        }

        function order() {
            let input_phone = $('#order_phone').val();
            let check_phone = input_phone.split('-');
            if ($('#order_name').val() == '') {
                alert("성함을 입력해주세요.")
            } else if ($('#order_number').val() == '') {
                alert("수량을 선택해주세요.")
            } else if ($('#order_adress').val() == '') {
                alert("주소를 입력해주세요.")
            } else if ($('#order_phone').val() == '') {
                alert("전화번호를 010-0000-0000 형식으로 입력해주세요.")
            } else if (check_phone[0] != '010') {
                alert("전화번호 형식이 맞지 않습니다. 010-0000-0000 형식으로 입력해 주세요.")
            } else if (isNaN(check_phone[1]) == true || check_phone[1].length != 4) {
                alert("전화번호 형식이 맞지 않습니다. 010-네 자리 숫자 로 입력해 주세요.")
            } else if (isNaN(check_phone[2]) == true || check_phone[2].length != 4) {
                alert("전화번호 형식이 맞지 않습니다. 010-네 자리 숫자-네 자리 숫자 로 입력해 주세요.")
                // 휴대폰번호 검사
                // 전화번호에 숫자넣어야 -> 문자 넣으면 얼럿
                // 첫번째 010 넣어야 -> 010 아니면 얼럿
                // 두번째 숫자 4자리 넣어야 -> 문자이면 && ?? || ?? 4자리 아니면 얼럿 (문자여도, 숫자4자리 아니어도)
                // 세번째 숫자 4자리 넣어야 -> 문자이면 && ?? || ?? 4자리 아니면 얼럿
            } else {
                order_upload()
            }
        }

        function order_upload() {
            let order_name = $('#order_name').val()
            let order_number = $('#order_number').val()
            let order_address = $('#order_adress').val()
            let order_phone = $('#order_phone').val()
            $.ajax({
                //1.클라이언트->서버 주문내역(이름 수량 주소 전화번호) 보내기
                type: "POST",
                url: "/order",
                data: {'name': order_name, 'number': order_number, 'address': order_address, 'phone': order_phone},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                    }
                    window.location.reload()
                }
            })

        }

        function order_count() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let order = response['orders'].length;
                    $('#order_count').append(order)
                }
            })
        }

    </script>

</head>

<body>
<div class="wrap">

    <img class="pengsoo_image"
         src="https://post-phinf.pstatic.net/MjAyMDA3MDFfMjMx/MDAxNTkzNTcwODU3NjU3.nnmy2GIjYmeHBxtH54U9yfNiDmRZyKGuyIQlq7mfAwgg.RemeBHNInZ_VQi3axn4DXk0RID9RASP_PpEOyXdwvPsg.JPEG/%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C_%285%29.jpg?type=w1200"
         alt="펭수 아슈크림 이미지" width="400">
    <div>
        <div class="float">
            <h1>펭수 아슈크림</h1>
        </div>
        <p>
            가격: 3,200원/개
        </p>
        <br>
        <h5>"찾았다! 우주에서 제일 맛있는 펭수 아슈크림!"</h5>
        <p>
            배스킨라빈스의 2020년 7월 이 달의 맛!<br>
            "펭수 아슈크림" (Pengsoo Choux Ice Cream)입니다.<br>
            밀크초콜릿 & 커스터드향 아이스크림에, 슈크림 시럽과 다이제볼(초코볼)이 들어 있어요.<br>
            달콤하고 부드러운 초콜릿&슈크림의 매력에 푹 빠져보세요~
        </p>
        <p>*펭수 아슈크림은 시즌 플레이버로, 재고 소진시 자동으로 판매가 종료됩니다.</p>
        <p>*재고 문의는 가까운 매장으로 부탁드립니다.</p>
    </div>
    <div id="exchange_rate">
        달러-원 환율 :
    </div>
    <br><br>
    <div>
        <h1>주문하기</h1>
        <p>주문자 이름: <input type="text" id="order_name"></p>
        <p>주문 수량 :
            <input type="number" id="order_number" placeholder="--수량을 입력하세요--">
        </p>
        <p>주문자 주소 : <input type="text" id="order_adress"></p>
        <p>주문자 전화번호 : <input type="text" id="order_phone"></p>
        <button onclick="order()" id="order_button" type="button" class="btn btn-warning">
            펭수 아슈크림 주문하기!
        </button>
    </div>
    <br><br>
    <div>
        <h1>주문자 목록</h1>
        <p>와! 벌써 <span id="order_count"></span>명이 주문했어요!</p>
        <table id="table">
            <thead>
            <tr>
                <th>이름</th>
                <th>수량</th>
                <th>주소</th>
                <th>전화번호</th>
            </tr>
            </thead>
            <tbody id="table_box">
            <tr>
                <td>이름이름</td>
                <td>수량수량</td>
                <td>주소주소</td>
                <td>전화번호번호</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

